body {
    margin: 0;
    font-family: sans-serif;
    cursor: default;
        padding: 24px 156px;
        box-sizing: border-box;
      }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
  }
  
  .gallery__item {
    position: relative;
  }
  
  .gallery__link {
    display: block;
  }
  
  .gallery__image {
    width: 360px;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .gallery__image:hover {
    width: 376px;
    height: 208px;
    margin: -4px -8px;
  }
  
  .basicLightbox {
    background: #2E2F42CC;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .basicLightbox--visible {
    opacity: 1;
  }
  
  .modal__image {
    width: 1112px;
    height: 640px;
    flex-shrink: 0;
    margin: 28px 164px;
    display: block;
  }
  